<div class="footer">
  <div class="footerTop">
    <div class="footerLeft">
      <div class="footerLeftLeft">
        <a href="" style="color:#ca841bd1; font-size: 17px; font-weight: bold">About Us</a>
        <a>Franchise</a>
        <a>Privacy Policy</a>
        <a>General policies and regulations</a>
        <a>Buying Guides</a>
        <a>About us</a>
      </div>
      <div class="footerLeftRight">
        <a href="" style="color:#ca841bd1; font-size: 17px; font-weight: bold">Delivery and Reserved</a>
        <a>Menu</a>
        <a>Stores</a>
      </div>
    </div>
    <div class="footerRight">
      <div class="footerRightLeft">
        <a href="" style="color:#ca841bd1; font-size: 17px; font-weight: bold ">Contact</a>
        <a>Franchise Contact: 0937.793.593</a>
        <a>Email: huong.ptx&#64;donchicken.vn</a>
        <a>Address: 222 Phan Xich Long, Ward 7, Phu Nhuan district, HCMC</a>
      </div>
      <div class="footerRightRight">
        <a href="" style="color:#ca841bd1; font-size: 17px; font-weight: bold">Follow Us</a>
        <div class="icon">
          <img src="./assets/images/facebook-app-symbol%20(1).png" style="width: 20px; height: 20px" alt="">
          <img src="./assets/images/instagram%20(1).png" style="width: 20px; height: 20px" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="logo">
      <img src="https://donchicken.vn/pub/media/logo/stores/2/bd26ca5cbd065f580617.jpg" alt="logo-don-chicken" width="260px" height="71px">
    </div>
    <p>Copyright © 2018 The Frenzy Team. All rights reserved.</p>
    <p style="font-weight: bold; margin-top: 15px" >Bản quyền 2019 Donchicken.vn – Premium Oven Chicken Công ty TNHH Công Nghệ Thực Phẩm Việt Hàn</p>
    <p>Địa chỉ: 222 Phan Xích Long, phường 7, quận Phú Nhuận, TP.HCM</p>
    <p>Email: huong.ptx&#64;donchicken.vn</p>
    <p>Mã số thuế / Mã số doanh nghiệp: 3603300922, Ngày cấp 16/04/2018, Sở KHĐTĐN</p>
  </div>
</div>
