<div class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <img src="https://donchicken.vn/pub/media/logo/stores/2/bd26ca5cbd065f580617.jpg" alt="logo-don-chicken" width="260px" height="71px">
    </div>
    <div class="menuCenter">
      <div class="menu">
        <p>Menu</p>
        <i class="material-icons" style="font-size: 17px">expand_more</i>
      </div>
      <div class="store">Store</div>
      <div class="news">
        <p>News</p>
        <i class="material-icons" style="font-size: 17px">expand_more</i>
      </div>
      <div class="franchise">Franchise</div>
      <div class="aboutUs">About Us</div>
    </div>
    <div class="menuRight">
      <div class="outMotoBike">
        <span class="motoBike">
          <span class="circle-number">
            <span class="number">0</span>
          </span>
        </span>
        <p class="money">₫0</p>
      </div>
      <div class="language">
        <span style="font-size: 14px">English</span>
        <i class="material-icons" style="font-size: 17px">expand_more</i>
      </div>
      <div class="login">
        <img src="./assets/images/ascending-sort.png" alt="sort">
      </div>
    </div>
  </div>
</div>

